html, body{
    padding: 0px;
    overflow: hidden;
    margin: 0;
    background-color: black;
}

#lienzo{
    background:blue;
    border: 1px solid black
}

#main_menu{
    position:absolute;
    top: 100px;
    color:blue;
    display: none;
}

img{
    position:absolute;
    display: none;
}