html, body{
    padding: 0px;
    overflow: hidden;
    margin: 0;
}

#lienzo{
    background:blue;
    border: 1px solid black
}

#main_menu{
    position:absolute;
    top: 100px;
    color:blue;
    visibility: visible;
}

img{
    position:absolute;
    visibility: visible;
}